*.pyc
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
mlops-env/
env/
ENV/

# Temporary files
tmp/
*.DS_Store
*.log

# Large binaries
minikube-darwin-amd64
tfx_pipeline/pipelines/chicago_taxi_simple/Trainer
tfx_pipeline/pipelines/chicago_taxi_simple/Transform
tfx_pipeline/pipelines/chicago_taxi_simple/StatisticsGen
tfx_pipeline/pipelines/chicago_taxi_simple/SchemaGen
tfx_pipeline/pipelines/chicago_taxi_simple/ExampleGen
tfx_pipeline/pipelines/chicago_taxi_simple/ExampleValidator
tfx_pipeline/pipelines/chicago_taxi_simple/CsvExampleGen